body{
    background-color: #EEEEEE;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
/*For desktop view */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*End of desktop view*/

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

}
#input-box, #results-box:active{
 border-color: #283593; 
}
 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

header{
    background-image: url('back.jpg');
    background-position: center;
    background-size: cover;
    height: 400px;
}
.navbar-nav > li{
    padding-left: 30px;
    padding-right: 30px;
}
.brand{
    width: 130px;
    height: 50px;
}

.cap1{
    padding-top: 100px;
    display: block;

    color: white;
    text-align: center;
}
.main-header{
  margin-top: 10px;
    color:#3F51B5;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: auto;
}

form{
    text-align: center;
    padding-top: 50px;
}
#input-box{
    margin-top: 15px;
    padding-left: 20px;
   border-radius: 5px;
    height: 200px;
    max-width: 80%;
    font-size: 40px;
    border: 1.5px solid #283593;
}
#results-box{
    margin-top: 28px;
    padding-left: 20px;
   border-radius: 5px;
    height: 200px;
    max-width: 80%;
    font-size: 40px;
    border: 1.5px solid #283593;
}
select{
    height:  39px;
    width: 100px;
    border: 1px solid #1A237E;
    border-radius: 5px;
    border-bottom-style: solid;
    background-color: #1A237E;
    color: white;
    font-size: 13px;
}
#convert{
    margin-top: 30px;
    height: 45px;
    width: 200px;
    background-color: #E8EAF6;
    border:1px solid #1A237E;
    border-radius: 4px;
    font-size: 22px;
    margin-bottom: 50px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
#convert{
    background-color: #E8EAF6; 
    color: black; 
    border: 2px solid #1A237E;
}

#convert:hover {
    background-color: #283593;
    color: white;
}


#lists1, #lists2{
    width: 80%;
}
.from{
    text-align: left;
    padding-left: 65px;
}
.to{
    text-align: left;
    padding-left: 65px;
}
.caption{
    text-align: center;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#rates-box{
    text-align: center;
    font-weight: bolder;
    border: 1px solid #5C6BC0;
    height: 35px;
    color: #222222;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}